.register-feature
  .ui.centered.grid
    //- SETADO APENAS O FALSE PRA TESTAR
    .row(ng:if='true')
      .six.wide.column
        .ui.stacked.segment
          form.ui.form(name="blockForm")
            h2.ui.dividing.header Novo Bloco
            .field(ng:class="{'error': blockForm.name.$invalid && vm.showErrors}")
              label Nome do Bloco
              input(required name='name',
              placeholder='Nome do Bloco',
              ng-model='vm.block.name',
              type='text')

            .field(ng:class="{'error': blockForm.email.$invalid && vm.showErrors}")
              label Número de Andares
              input(required name='email',
              placeholder='Número de Andares',
              ng-model='vm.block.numberOfFloors',
              type='text')

            .field(ng:class="{'error': blockForm.numberOfApartmentsPerFloor.$invalid && vm.showErrors}")
              label Número de Apartamento por Andares
              input(required name='numberOfApartmentsPerFloor',
              placeholder='Número de Apartamento por Andares',
              ng-model='vm.block.numberOfApartmentsPerFloor',
              type='text')

            .field
              .ui.info.ignored.icon.message
                i.info.letter.icon
                .content
                  .header Atenção
                  span Blocos que possuirem apenas 1 apartamento por andar terão numeração dos apartamentos divididas por centena, por exemplo: 100, 200, 300.


            .field
              button.fluid.ui.huge.primary.button(
                ng-click='vm.create(vm.block)') Gerar Bloco
    .row(ng:if='false')
      .six.wide.column
        .ui.stacked.segment
          form.ui.form(name="quatrainForm")
            h2.ui.dividing.header Nova Quadra
            .field(ng:class="{'error': quatrainForm.name.$invalid && vm.showErrors}")
              label Nome da Quadra
              input(required name='name',
              placeholder='Nome da Quadra',
              ng-model='vm.quatrain.name',
              type='text')

            .field(ng:class="{'error': quatrainForm.name.$invalid && vm.showErrors}")
              label Número de Casas
              input(required name='name',
              placeholder='Número de Casas',
              ng-model='vm.quatrain.name',
              type='text')

            .field
              button.fluid.ui.huge.primary.button(
                ng-click='vm.register(userForm, quatrainForm, vm.condo)') Gerar Quadra
